.sec-home-nft {
  padding-top: 8.2%;
  background: #000000e6;
}
.nft-home-box {
  background: linear-gradient(
    178.33deg,
    rgb(66 66 66 / 36%) 1.42%,
    rgb(0 0 0 / 93%) 85.29%
  );
  -webkit-backdrop-filter: blur(15.5px);
  backdrop-filter: blur(15.5px);
  border-radius: 64px 64px 0px 0px;
  padding-top: 4%;
  padding-bottom: 4%;
}
.nft-btn-list {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.nft-btn-list li {
  list-style: none;
}
.list-btn {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(7px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 58px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding: 8px 30px;

  text-align: center;

  color: #ffffff;
}
.list-btn:hover {
  background-color: rgba(7, 27, 243, 0.76);
}
.list-btn-active {
  background: rgba(7, 27, 243, 0.76);
  backdrop-filter: blur(7px);
  border-radius: 58px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding: 8px 39px;
  text-align: center;
  color: #ffffff;
}
.nft-gallery-1{
  display: grid;
  grid-template-columns: repeat(3,auto);
  
}
.nft-gallery-1 img{
  margin-bottom: 20px;
  width: 92%;
}

.sc-gal{
  margin-top: 3rem;
}
.gal-5{
  height: 518px;
}
.gal-10{
  height: 277px;
}

.gal-bar{
  width: 100%;
  margin-top: 35px;
  height: 18px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.12);
}
.ring{
  font-size: 12px;
  position: absolute;
  color: #ffffff;
  margin-top: 0px;
  left: 50%;
}